#sidebar{
    background-color: red;
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0%;
}

#sidebar ul{
    text-align: center;
    padding: 0;
}

#sidebar li{
    list-style-type: none;
}

#sidebar a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 0;
}

#sidebar a:hover{
    background-color: black;
}




















#onpage{
    text-decoration: underline overline;
}

#main-navbar{
    background-color:blue;
    overflow: hidden;
}

#navbar-container{
    width: 100%;
    float: left;
    position: relative;
}

#main-navbar ul{
    list-style-type: none;
    position: relative;
    float: left;
    left: 50%;
    margin: 0;
    padding: 0;
}

#main-navbar li {
    float: left;
    right: 50%;
    position: relative;
}

#main-navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

#main-navbar a:hover{
    background-color: #000
}
